@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    box-sizing: border-box;
    background-color: #0A192F;
    font-family: 'Acme', sans-serif;
}
.app{
    color: white;
    padding: 20px;
    font-size: 12px;
}
