*{
    box-sizing: border-box;
    background-color: #0A192F;
}
.app{
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
